.tile-header
  %span.user
    = activity.user.display_name
  - if activity.trackable
    %span.message
      = t('activities.inspiration._create.exists')

= image_tag 'default_avatar.png', class: 'user-avatar'

- if activity.trackable
  .speech-bubble
    = tracked_inspiration(activity.trackable_id).description.split.slice(0, 15).join(" ") + '...'
  %span.time
    = t('activities.index.was')
    #{time activity.created_at, class: :timeago}
