= simple_form_for @idea do |f| 
  = f.input :title, placeholder: 'Titel'
  = f.input :description, as: :text, placeholder: 'Beschreibung'

  = f.submit 'Continue', class: 'green-button'
  = link_to 'Abbrechen', root_path, class: 'button red-button'
