= title @idea.title

= @idea.description

- unless @idea.problem.blank?
  %h2= t('.problem')
  %p
    = simple_format @idea.problem

- unless @idea.solution.blank?
  %h2= t('.solution')
  %p
    = simple_format @idea.solution

#{t('.created', user: @idea.user.display_name)}
= time @idea.created_at

%p
  #{t('.updated')} #{time @idea.updated_at}

%nav
  = link_to t('.link.dashboard'), root_path
  = link_to t('.link.ideas'), ideas_path

  - if can? :update, @idea
    = link_to t('.link.edit'), edit_idea_path(@idea)

  - if can? :destroy, @idea
    = link_to t('.link.delete'), idea_path(@idea), method: :delete, confirm: t('.link.delete_confirm')
