= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!

  = f.input :display_name, autofocus: true, placeholder: "Benutzername"
  = f.input :email, placeholder: "E-Mail Adresse"
  = f.input :email_confirmation, placeholder: "E-Mail Adresse bestätigen"
  = f.input :password, placeholder: "Passwort"
  = f.button :submit, class: 'green-button'