- content_for :head do
  = stylesheet_link_tag 'account', controller_name, media: 'screen'

- if resource.errors.any?
  - content_for :javascript do
    :javascript
      $(document).ready(function() {
        var noty_notice = noty({
          text : "#{escape_javascript(devise_error_messages!.html_safe)}",
          layout : 'top',
          type : 'error',
          timeout : 3000
        });
      });

= title t('authentication.registration.title')

#main-content
  = render 'form'

  %h2= t('authentication.registration.social')

  #social-boxes.clearfix
    %div{class: 'social-box persona'}
      %div{class: 'logo'}
      %p
        = link_to t('authentication.registration.providers.persona'), '/auth/persona/', id: 'mozilla-persona', class: 'btn btn-green'
    %div{class: 'social-box twitter'}
      %div{class: 'logo'}
      %p
        = link_to t('authentication.registration.providers.twitter'), '/auth/twitter/', class: 'btn btn-green'
    %div{class: 'social-box facebook'}
      %div{class: 'logo'}
      %p
        = link_to t('authentication.registration.providers.facebook'), '/auth/facebook/', class: 'btn btn-green'
    %div{class: 'social-box google'}
      %div{class: 'logo'}
      %p
        = link_to t('authentication.registration.providers.google'), '/auth/google/', class: 'btn btn-green'
