.tile-header
  %span.user
    = link_to(activity.user.display_name, activity.user)
  - if challenge
    %span.message
      = t('activities.challenge._update.exists')

= link_to(image_tag('default_avatar.png', class: 'user-avatar'), activity.user)

- if challenge
  = link_to challenge do
    .speech-bubble
      = challenge.question.html_safe
  %span.time
    = t('activities.index.was')
    #{time activity.created_at, class: :timeago}
