.tile-header
  %span.user
    = activity.user.display_name
  - if challenge
    %span.message
      = t('activities.challenge._update.exists')

.activity-avatar
  = image_tag avatar(activity.user, 50), alt: '', class: 'user-avatar'
  .icon-pencil

- if challenge
  .speech-bubble
    = challenge.question.html_safe
  %span.time
    = t('activities.index.was')
    #{time activity.created_at, class: :timeago}
