#like-form
  - if like = current_user.likes.where(inspiration: @inspiration).first
    = simple_form_for(like, remote: true, method: :delete) do |f|
      = hidden_field_tag('inspiration_id', @inspiration.id)
      = f.submit t('.unlike'), class: 'btn'
  - else
    = simple_form_for(current_user.likes.build(inspiration: @inspiration), remote: true) do |f|
      = hidden_field_tag('inspiration_id', @inspiration.id)
      = f.submit t('.like'), class: 'btn'
