= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  -#= devise_error_messages!

  %i.icon-user
  = f.input :login, placeholder: t('simple_form.sign_in.login'), autofocus: true
  %i.icon-key
  = f.input :password, placeholder: t('simple_form.sign_in.password')

  -# if devise_mapping.rememberable?
    = f.input :remember_me, as: :boolean

  %button{type: 'submit', class: 'green-button', id: 'login-button'}
    .login-text= t('simple_form.sign_in.button')

-#= render 'devise/shared/links'
