= title t('.title')
%nav
  = link_to challenges_path, class: 'btn btn-title left' do
    .icon-th-list
  = link_to new_challenge_path, class: 'btn btn-title right' do
    .icon-plus

#list
  #users
    - @users.each do |user|
      = link_to user_path(user) do
        .user
          = image_tag avatar(user, 70), alt: '', class: 'user-avatar'
          .text
            .name= user.display_name
            .level
              = t('.level')
              %span= user.level
            .points
              = t('.points')
              %span= user.points
          .icon-chevron-right
