%section.container
  = link_to 'Back', users_path
  = link_to 'Edit', edit_user_path(@user)

  - if user_signed_in?
    = link_to 'Abmelden', destroy_user_session_path, method: :delete

  = link_to "Neue Idee", new_idea_path
  = link_to "Alle Ideen", ideas_path
