= title @user.display_name

#main-content
  .user-area
    #avatar
      = image_tag 'default_avatar.png', size: '70x70'
      -#= image_tag avatar(@user, 48), alt: t('global.gravatar')

    - if current_user == @user
      %nav
        = link_to t('.link.edit'), edit_user_path(@user), class: 'btn btn-title right'

    .level
      = t('.user_level', level: @user.level)

    .points
      = t('.user_points', count: @user.points)

  .challenges
    %h2= t('.last_challenges', user: @user.display_name)
    - @challenges.each do |challenge|
      = link_to challenge_path(challenge.id) do
        .icon-question
        .challenge
          = challenge.question
          = t('.ditos', count: challenge.ditos.count)

