%h1= t('.title')

= link_to t('.link.back'), users_path
= link_to t('.link.edit'), edit_user_path(@user)

- if user_signed_in?
  = link_to t('.link.socialproviders'), socialproviders_path
  = link_to t('.link.signout'), destroy_user_session_path, method: :delete

= link_to t('.link.idea.new'), new_idea_path
= link_to t('.link.idea.all'), ideas_path
