= title t('.title', user: @user.display_name)
-#= image_tag avatar(@user, 48), alt: t('global.gravatar')
= image_tag 'default_avatar.png'

%p= t('.user_level', level: @user.level, count: @user.points)

%h3= t('.last_challenges', user: @user.display_name)

- @challenges.each do |challenge|
  %div
    = link_to challenge.question, challenge_path(challenge.id)
    = t('.ditos', count: challenge.ditos.count)

