= title t('.title')

#main-content
  = simple_form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, defaults: { input_html: { class: 'styled_input' } } do |f|
    = f.hidden_field :reset_password_token
    = f.input :password, placeholder: t('.label.password'), autofocus: true
    = f.input :password_confirmation, placeholder: t('.label.password_confirm')
    = f.submit t('.button.submit'), class: 'btn green-button'
    = link_to t('.button.cancel'), root_path, class: 'btn btn-danger'
