- content_for :javascript do
  = javascript_include_tag 'login'

%section{role: 'home'}
  #big-logo
    = image_tag 'logo.png'

  = render 'users/login', resource: :user

  = link_to new_user_registration_path do
    %button.btn#signup-button
      = t('authentication.label.signup')
