- content_for :head do
  = stylesheet_link_tag 'challenges', controller_name, media: 'screen'

= title @tag
%nav
  = link_to tags_path, class: 'btn btn-title left' do
    .icon-tags
  = link_to new_challenge_path, class: 'btn btn-title right' do
    .icon-plus

#challenges
  = render @challenges

= paginate @challenges
