- content_for :head do
  = stylesheet_link_tag 'challenges', controller_name, media: 'screen'

- title t('tags.title_tagged', tag: @tag)

%h1{class: 'title'}
  = t('tags.title_tagged_short')
  %i.icon-tag
  = '»' + @tag + '«'

#challenges
  = render @challenges

= paginate @challenges
