= render 'form'

= link_to 'Mozilla Persona', '/auth/persona/', id: 'mozilla-persona'
= link_to 'Facebook', '/auth/facebook/'
= link_to 'Google', '/auth/google/'
= link_to 'Twitter', '/auth/twitter/'
