= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = f.input :login, autofocus: true
  = f.input :password

  - if devise_mapping.rememberable?
    = f.input :remember_me, as: :boolean

  = f.submit "Sign In"

  = render "devise/shared/links"