- content_for :javascript do
  = javascript_include_tag 'jquery.tagsinput'

  :javascript
    $(document).ready(function() {
      $('#challenge_tags').tagsInput({
        width : '100%',
        height : '24px',
        defaultText : I18n.tags.add
      });
    });

= simple_fields_for @challenge, defaults: { input_html: { class: 'styled_input' } } do |f|
  = f.input :question, placeholder: t('challenges._form.placeholder.question')
  = f.input :description, as: :text, placeholder: t('challenges._form.placeholder.description')
  = f.input :duration_string, input_html: { class: 'styled_input datepicker', :autocomplete => 'off' }, placeholder: t('challenges._form.placeholder.duration')
  = f.input :tags, input_html: { :autocomplete => 'off' }, placeholder: t('tags.add');
