- content_for :javascript do
  = javascript_include_tag 'endless_scroll'

= title t('.title')

= link_to t('.link.dashboard'), root_path
= link_to t('.link.new'), new_challenge_path

#challenges
  = render @challenges

= paginate @challenges
