- content_for :javascript do
  = javascript_include_tag 'endless_scroll'

= title t('.title')
%nav
  = link_to root_path, class: 'btn btn-title left' do
    .icon-time
  = link_to new_challenge_path, class: 'btn btn-title right' do
    .icon-plus{ title: t('.button') }

#list
  #challenges
    = render @challenges

  = paginate @challenges
