- content_for :javascript do
  = javascript_include_tag 'endless_scroll'

= title t('.title')
%nav
  = link_to t('.link.activities'), root_path, class: 'btn btn-title left'
  = link_to new_challenge_path, { class: 'btn btn-title right' } do
    .icon-plus{ title: t('.button') }

#list
  #challenges
    = render @challenges

  = paginate @challenges
