= title t('.title')

= simple_form_for @challenge do |f|
  = render 'form'

  = f.submit t('challenges._form.button.create'), class: 'btn green-button'
  = link_to t('challenges._form.button.cancel'), root_path, class: 'btn red-button'
