= title t('.title')
%nav
  = link_to new_challenge_path, { class: 'btn btn-title', id: 'new-challenge' } do
    .icon-plus
  = link_to t('.link.challenges'), challenges_path, class: 'btn btn-title', id: 'all-challenges'


.header
  .question
    = @challenge.question
    = render 'challenges/count_ditos'
  .user-name
    #{t('.created', user: @challenge.user.display_name)}
    = time @challenge.created_at
  = image_tag 'default_avatar.png', class: 'avatar'
  -#= image_tag avatar(@challenge.user, 48), alt: t('global.gravatar'), class: 'avatar'

#main-content
  - if @challenge.tags_array.count > 0
    %ul
    - @challenge.tags_array.each do |tag|
      %li
        = link_to tag, tag_path(URI.escape(tag))

-#= t('.duration')
-#= @challenge.duration_string
-#= t('.description')
-#%p= @challenge.description

  
  
- if current_user != @challenge.user && current_user
  = render 'ditos/form'


-#- if @inspirations.count > 0
-#%h3= t('.inspirations')

-#- @inspirations.each do |inspiration|
-#%p= link_to inspiration.description, challenge_inspiration_path(@challenge, inspiration)

-#- if can? :update, @challenge
-#= link_to t('.link.edit'), edit_challenge_path(@challenge), class: 'btn green-button'

-#- if can? :destroy, @challenge
-#= link_to t('.link.delete'), challenge_path(@challenge), method: :delete, confirm: t('.link.delete_confirm'), class: 'confirmation btn btn-danger'

-#%p
-#%small
-##{t('.updated')} #{time @challenge.updated_at}
