= title @challenge.question

= @challenge.description

#dito
  = @count_ditos

= simple_form_for @dito do |f|
  = f.submit

#{t('.created', user: @challenge.user.display_name)}
= time @challenge.created_at
%div= @challenge.duration_string

%p
  #{t('.updated')} #{time @challenge.updated_at}

%nav
  = link_to t('.link.dashboard'), root_path
  = link_to t('.link.challenges'), challenges_path
  = link_to t('.link.inspiration'), new_challenge_inspiration_path(@challenge.id)

  - if can? :update, @challenge
    = link_to t('.link.edit'), edit_challenge_path(@challenge)

  - if can? :destroy, @challenge
    = link_to t('.link.delete'), challenge_path(@challenge), method: :delete, confirm: t('.link.delete_confirm')
