- content_for :head do
  = stylesheet_link_tag 'linedpaper'

= title t('.title')
%nav
  = link_to t('.link.challenges'), challenges_path, class: 'btn btn-title left'
  = link_to new_challenge_path, { class: 'btn btn-title right' } do
    .icon-plus

.header
  .timer
    - distance_of_time_in_words_hash(Time.now, Time.now + (@challenge.duration.to_time - Time.now)).each do |key, value|
      .elements
        .value
          = value
        .key
          = key
  .question
    = @challenge.question
    = render 'challenges/count_ditos'
  .meta.user-name
    = t('challenges.created', user: @challenge.user.display_name)
    = time @challenge.created_at, class: :timeago
  = link_to user_path(@challenge.user) do
    = image_tag avatar(@challenge.user, 70), alt: '', class: 'avatar'

#challenge
  - if @challenge.tags_array.count > 0
    .tags
      %ul
        - @challenge.tags_array.each do |tag|
          = link_to tag_path(URI.escape(tag)) do
            %li= tag

  .description
    = simple_format @challenge.description

  - if current_user != @challenge.user && current_user
    = render 'ditos/form'
  - else
    - if can? :update, @challenge
      = link_to t('.link.edit'), edit_challenge_path(@challenge), class: 'btn green-button'
    - if can? :destroy, @challenge
      = link_to t('.link.delete'), challenge_path(@challenge), method: :delete, confirm: t('.link.delete_confirm'), class: 'confirmation btn btn-danger'

- if @inspirations.count > 0
  - @inspirations.each do |inspiration|
    .inspiration
      .likes
        = inspiration.like
        .icon-heart
      = link_to user_path(inspiration.user) do
        = image_tag avatar(inspiration.user, 40), alt: t('global.gravatar'), class: 'contributors'
      .inspiration-user-name
        = link_to t('challenges.created', user: inspiration.user.display_name)
        = time inspiration.created_at, class: :timeago
      .inspiration-description
        = link_to simple_format(inspiration.description), challenge_inspiration_path(@challenge, inspiration)

#new-inspiration-button
  = link_to new_challenge_inspiration_path(@challenge) do
    .new-inspiration
      .icon-plus
  = link_to t('.link.inspiration'), new_challenge_inspiration_path(@challenge), class: 'btn new-inspiration-button'

