= title t('.title')
%nav
  = link_to new_challenge_path, { class: 'btn btn-title', id: 'new-challenge' } do
    .icon-plus
  = link_to t('.link.challenges'), challenges_path, class: 'btn btn-title', id: 'all-challenges'

.header
  .timer
    - distance_of_time_in_words_hash(Time.now, Time.now + (@challenge.duration.to_time - Time.now)).each do |key, value|
      .elements
        .value
          = value
        .key
          = key
  .question
    = @challenge.question
    = render 'challenges/count_ditos'
  .meta.user-name
    #{t('.created', user: @challenge.user.display_name)}
    #{time @challenge.created_at}
  -#= link_to image_tag('default_avatar.png', class: 'avatar'), user_path(@challenge.user)
  = image_tag avatar(@challenge.user, 70), alt: t('global.gravatar'), class: 'avatar'

#challenge
  .tags
    - if @challenge.tags_array.count > 0
      %ul
        - @challenge.tags_array.each do |tag|
          = link_to tag_path(URI.escape(tag)) do
            %li= tag

  .description
    = @challenge.description

  - if current_user != @challenge.user && current_user
    = render 'ditos/form'
  - else
    - if can? :update, @challenge
      = link_to t('.link.edit'), edit_challenge_path(@challenge), class: 'btn green-button'
    - if can? :destroy, @challenge
      = link_to t('.link.delete'), challenge_path(@challenge), method: :delete, confirm: t('.link.delete_confirm'), class: 'confirmation btn btn-danger'

- if @inspirations.count > 0
  - @inspirations.each do |inspiration|
    .inspiration
      -#= link_to image_tag('default_avatar.png', class: 'contributors'), user_path(inspiration.user)
      = image_tag avatar(@challenge.user, 40), alt: t('global.gravatar'), class: 'contributors'
      .inspiration-user-name
        = link_to inspiration.user.display_name
      .inspiration-description
        = link_to inspiration.description, challenge_inspiration_path(@challenge, inspiration)

#main-content
  = link_to new_challenge_inspiration_path(@challenge) do
    .icon-plus.new-inspiration
  = link_to t('.link.inspiration'), new_challenge_inspiration_path(@challenge), class: 'btn'

