- content_for :javascript do
  = javascript_include_tag 'jquery.tagsinput'

  :javascript
    $(document).ready(function() {
      var noty_notice = noty({
        text : "#{escape_javascript(t('.warning').html_safe)}",
        layout : 'top',
        type : 'warning',
        timeout : false,
        callback : {
          onShow : function() {
            return $('#main, #menu').animate({
              marginTop: $('#noty_top_layout_container').find('li').height()
            }, 500);
          },
          onClose : function() {
            return $('#main, #menu').animate({
              marginTop: 0
            }, 500);
          }
        }
      });
    });

= title t('.title')

#main-content
  = simple_form_for @user, url: account_update_path, method: :post, defaults: { input_html: { class: 'styled_input' } } do |f|
    .form_with_labels
      = f.input :email, disabled: true, label: t('.label.email')
      = f.input :display_name, label: t('.label.display_name'), autofocus: true
      = f.submit t('.button.submit'), class: 'btn green-button'
      = link_to t('.button.cancel'), @user, class: 'btn btn-danger'

  %h1= t('.social_provider')

  #social-boxes.clearfix
    - (@providers_user).each do |socialprovider|
      %div{class: 'social-box ' + socialprovider.provider + ' enabled'}
        %div{class: 'logo'}
        %p
        = link_to t('.provider.link.remove_service.text'), socialprovider, confirm: t('.provider.link.remove_service.confirmation'), method: :delete, class: 'confirmation btn btn-danger'
    - (@providers_suggested).each do |provider|
      %div{class: 'social-box ' + provider + ' disabled'}
        %div{class: 'logo'}
        %p
        - case provider
          - when 'persona'
            = link_to t('.provider.link.add_service'), '/auth/persona/', id: 'mozilla-persona', class: 'btn btn-green'
          - when 'facebook'
            = link_to t('.provider.link.add_service'), '/auth/facebook/', class: 'btn btn-green'
          - when 'google'
            = link_to t('.provider.link.add_service'), '/auth/google/', class: 'btn btn-green'

  %h1= t('.edit_password.title')

  = link_to t('.edit_password.button'), account_edit_password_path, class: 'btn green-button'

  %h1= t('.delete_account.title')

  %p
    %em= t('.delete_account.warning')

  %p= link_to t('.delete_account.button'), account_destroy_path, confirm: t('.delete_account.confirmation'), method: :delete, class: 'confirmation btn btn-danger'
