= title t('.title')

#main-content
  .form_with_labels
    = simple_form_for @user, url: { action: 'update_password' }, html: { method: :post }, defaults: { input_html: { class: 'styled_input' } } do |f|
      = f.input :current_password, as: :password, placeholder: t('.label.current_password'), label: t('.label.current_password')
      = f.input :password, as: :password, placeholder: t('.label.new_password'), label: t('.label.new_password')
      = f.input :password_confirmation, as: :password, placeholder: t('.label.new_password_confirmation'), label: t('.label.new_password_confirmation')
      = f.button :submit, t('.button.submit'), class: 'btn green-button'
      = link_to t('.button.cancel'), account_edit_path, class: 'btn btn-danger'
