- content_for :javascript do
  = javascript_include_tag 'endless_scroll'

= title t('.title')
%nav
  = link_to new_challenge_path, { class: 'btn btn-title right' } do
    .icon-plus
  = link_to t('.link.all_challenges'), challenges_path, class: 'btn btn-title left'
#list
  #activities
    = render @activities

  = paginate @activities
