- content_for :javascript do
  = javascript_include_tag 'endless_scroll'

= title t('.title')
= link_to new_challenge_path, { class: 'btn btn-title', id: 'new-challenge' } do
  .icon-plus
= link_to t('.link.all_challenges'), challenges_path, class: 'btn btn-title', id: 'all-challenge'

#list
  #activities
    = render @activities

  = paginate @activities
