- content_for :javascript do
  = javascript_include_tag 'endless_scroll'

= title t('.title')

%nav{role: 'sub-menu'}
  %ul
    %li= link_to t('.link.all_challenges'), challenges_path
    %li= link_to t('.link.new_challenge'), new_challenge_path

#activities
  = render @activities

= paginate @activities
