!!! 5
%html.no-js{lang: 'de'}
  %head
    %meta{charset: 'utf-8'}

    %title= content_for?(:title) ? yield(:title) : Rails.application.class.parent_name
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %meta{name: 'description', content: content_for?(:description) ? yield(:description) : ''}
    %meta{name: 'keywords', content: content_for?(:keywords) ? yield(:keywords) : ''}

    :javascript
      window.onload = function() {
        var html = document.getElementsByTagName('html')[0].className = 'js'
      };

    = stylesheet_link_tag 'application', controller_name, media: 'screen'
    = yield(:head)
    = csrf_meta_tags
  %body
    #top-bar
      = link_to root_path do
        #logo
          .icon-leaf
          = Rails.application.class.parent_name

      %nav.off-canvas-navigation
        %ul
          -#%li.back-item
            -#= link_to :back, title: t('.topbar.back') do
              -#%i.icon-chevron-left
          %li.menu-item
            = link_to '#menu', title: t('.topbar.menu'), class: 'menu-button' do
              %i.icon-reorder
          %li.user-item
            - if user_signed_in?
              = current_user.display_name
              = link_to destroy_user_session_path, class: 'confirmation', method: :delete, confirm: t('.topbar.signout_confirmation') do
                %i.icon-user.online{title: t('.topbar.signed_in')}

    #main
      %section{role: 'main'}
        #main-content
          = yield

      %nav#menu{role: 'navigation'}
        %ul
          - if user_signed_in?
            %li
              = link_to root_path do
                %i.icon-dashboard
                <span>#{t('.navigation.dashboard')}</span>

            %li
              = link_to new_challenge_path do
                %i.icon-plus
                <span>#{t('.navigation.new_challenge')}</span>

          %li
            = link_to challenges_path do
              %i.icon-list
              <span>#{t('.navigation.all_challenges')}</span>

          %li
            = link_to tags_path do
              %i.icon-tags
              <span>#{t('.navigation.tags')}</span>

          %li
            = link_to users_path do
              %i.icon-group
              <span>#{t('.navigation.all_users')}</span>

          - if user_signed_in?
            %li
              = link_to user_path current_user do
                %i.icon-user
                <span>#{t('.navigation.profile')}</span>

            %li
              = link_to account_edit_path do
                %i.icon-cog
                <span>#{t('.navigation.edit_profile')}</span>

            %li
              = link_to destroy_user_session_path, class: 'confirmation', method: :delete, confirm: t('.topbar.signout_confirmation') do
                %i.icon-signout
                <span>#{t('.navigation.signout')}</span>

          - else
            %li
              = link_to root_path do
                %i.icon-signin
                <span>#{t('.navigation.signin')}</span>

    #loading-overlay
    #loading-spinner

    :javascript
      window.I18n = #{current_translations.to_json.html_safe}
    = javascript_include_tag 'https://login.persona.org/include.js'
    = javascript_include_tag 'application', controller_name
    = javascript_include_tag "application-#{I18n.locale}"
    = yield(:javascript)
    - if flash[:notice]
      :javascript
        $(document).ready(function() {
          var noty_notice = noty({
            text : "#{escape_javascript(flash[:notice].html_safe)}",
            layout : 'top',
            type : 'success',
            timeout : 3000,
            callback: {
              onShow: function() {
                var active;
                active = true;
                return $('#main-content').animate({
                  marginTop: '+=35'
                }, 500);
              },
              onClose: function() {
                return $('#main-content').animate({
                  marginTop: '-=35'
                }, 500);
              }
            }
          });
        });
    - elsif flash[:error]
      :javascript
        $(document).ready(function() {
          var noty_error = noty({
            text : "#{escape_javascript(flash[:error].html_safe)}",
            layout : 'top',
            type : 'error',
            timeout : 3000,
            callback: {
              onShow: function() {
                var active;
                active = true;
                return $('#main-content').animate({
                  marginTop: '+=35'
                }, 500);
              },
              onClose: function() {
                return $('#main-content').animate({
                  marginTop: '-=35'
                }, 500);
              }
            }
          });
        });
