!!! 5
%html{lang: 'de'}
  %head
    %meta{charset: 'utf-8'}

    %title= content_for?(:title) ? yield(:title) : 'Peppermind'
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %meta{name: 'description', content: content_for?(:description) ? yield(:description) : ''}
    %meta{name: 'keywords', content: content_for?(:keywords) ? yield(:keywords) : ''}

    = stylesheet_link_tag :screen, media: "screen"
    = yield :stylesheets
    = csrf_meta_tags
    = yield(:head)
  %body
    %p.notice= notice
    %p.alert= alert

    = yield

    = javascript_include_tag 'https://login.persona.org/include.js'
    = javascript_include_tag :application